{% extends 'base.html.twig' %}
{% block body %}

    {% embed 'modals/profile.message.html.twig' %}
    {% endembed %}
    {% include 'template/header.html.twig' %}
    <div class="wrapper">
        <div class="container-fluid scrollbar"">

        <div class="row">
            <div class="col-lg-2">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/uploads/profile/{{ user_info.0.id }}.jpg">
                    <div class="card-block">
                        <h4 class="card-title">{{ user_info.0.name }} </h4>
                    </div>
                    <ul class="list-group list-group-flush user-details-list">
                        <li class="list-group-item">Punti: {{ user_info.0.points }} &nbsp;<img src="{{ asset('/img/icons/icon_info.png') }}" style="width:16px;" data-toggle="tooltip" data-placement="right" title="Ogni utente guadagna 1 Punto ad ogni feedback positivo ricevuto."/></li>
                        <li class="list-group-item">Vive a: {{ (user_info.0.address| split('-', 3))[2]  }}</li>
                        <li class="list-group-item">Registrato dal: {{ user_info.0.datejoin|date('d-m-Y') }}</li>
                        <li class="list-group-item">Annunci: {{ ad_count }}</li>
                        {% if app.user.username is defined %}
                            {% if app.user.username == user_info.0.name %}
                                <li class="list-group-item">Crediti:&nbsp; <small>{{ user_info.0.creditsGold }}<img src="{{ asset('img/coins/coin_gold.png') }}" class="profile_coin_left"/> {{ user_info.0.creditsSilver }} <img src="{{ asset('img/coins/coin_silver.png') }}" class="profile_coin_left"/> {{ user_info.0.creditsBronze }} <img src="{{ asset('img/coins/coin_bronze.png') }}" class="profile_coin_left"/></small></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    {% if app.user.username is defined %}
                        {% if app.user.username != user_info.0.name %}
                            <div class="card-block">
                                <a href="#" class="card-link">Segui</a>
                                <a href="" data-toggle="modal" data-target="#send_message" class="card-link float-right">Messaggio</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if app.user.username is defined %}{% if app.user.username == user_info.0.name %}
                    <br>
                    <a href="{{ url('upgrade') }}" class="btn btn-outline-success btn-block btn-lg">Upgrade</a>
                {% endif %}
                {% endif %}
                <br><br>
            </div>

            <div class="col-lg-8">
                {% if user_info.0.isActive == 0 %}
                    <div class="alert alert-danger"><strong>Attenzione:</strong> Questo utente è stato bannato dalla piattaforma, se stai concludendo qualsiasi affare con lui, assicurati di contattarlo telefonicamente. Se hai problemi legali con questo utente, <a href="mailto:">contattaci</a> spiegando il problema, cercheremo di fornirti i dati per una denuncia alle autorità.</div>
                {% endif %}

                <ul class="nav nav-pills nav-justified">
                    {% if app.user.username is defined %}
                        {% if app.user.username == user_info.0.name %}
                            <li class="nav-item">
                                <a class="nav-link link-bacheca active" data-toggle="tab" href="#bacheca" role="tab">Bacheca</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-messaggi" data-toggle="tab" href="#messaggi" role="tab">Messaggi {% if notReadMsg != 0 %}({{ notReadMsg }}){% endif %}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link link-annunci" data-toggle="tab" href="#annunci" role="tab">Annunci</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-feedback" data-toggle="tab" href="#feedback" role="tab">Feedback</a>
                    </li>
                    {% if app.user.username is defined %}
                        {% if app.user.username == user_info.0.name %}
                            <li class="nav-item">
                                <a class="nav-link link-settings" data-toggle="tab" href="#settings" role="tab">Impostazioni</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <br>
                <div class="tab-content">
                    <div class="tab-pane active" id="bacheca" role="tabpanel">
                        <div class="card" style="width: 100%;">
                            <div class="card-block">
                                <div class="card-title"><h5>Vendite</h5></div>
                                <div class="card-text">
                                    {% if sells > 0 %}
                                        {% set index = 0 %}
                                        {% for sell in sells %}

                                            <div class="card">
                                                <div class="card-block profile-bacheca-card" style="padding:0px">
                                                    <img src="/uploads/photos/{{ sell.aid }}-1.jpg" style="width:80px;float:left;margin-right:10px">
                                                    <div class="row" style="margin-top:18px">
                                                        <div class="col-md">
                                                            <div class="card-title">{{ user.convertAds(sell.aid) }}</div>
                                                        </div>

                                                        <div class="ml-auto">
                                                            <img src="{{ asset('img/icons/icon_check.png') }}" style="width:24px;margin-right:10px;{% if user.getSell(sell.id,'isVerified') == 0 %}filter:brightness(300%){% endif %}" data-toggle="tooltip" data-title="Verificato">
                                                            <img src="{{ asset('img/icons/icon_dollars.png') }}" style="width:24px;margin-right:10px;{% if user.getSell(sell.id,'isPaid') == 0 %}filter:brightness(300%){% endif %}" data-toggle="tooltip" data-title="Pagato">
                                                            <img src="{{ asset('img/icons/icon_package.png') }}" style="width:24px;margin-right:10px;{% if user.getSell(sell.id,'isShipped') == 0 %}filter:brightness(300%){% endif %}" data-toggle="tooltip" data-title="Spedito">
                                                            <img src="{{ asset('img/icons/icon_feed_sended.png') }}" style="width:20px;margin-right:10px;{% if user.getSell(sell.id,'isFeedOut') == 0 %}filter:brightness(300%){% endif %}" data-toggle="tooltip" data-title="Feedback lasciato">
                                                            <img src="{{ asset('img/icons/icon_feed_received.png') }}" style="width:20px;margin-right:10px;{% if user.getSell(sell.id,'isFeedIn') == 0 %}filter:brightness(300%){% endif %}" data-toggle="tooltip" data-title="Feedback ricevuto">
                                                        </div>
                                                        <div class="ml-auto" style="margin-top: -6px;margin-right:10px">
                                                            <div class="btn-group" role="group">
                                                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Azioni
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                                    {% if sell.paid == 0 %}
                                                                        <a class="dropdown-item" href="{{ url('setReceivedPayment',{uid: app.user.id, aid:sell.id}) }}">Segnala come Pagamento Ricevuto</a>
                                                                    {% elseif sell.paid == 1 %}
                                                                        <a class="dropdown-item" href="{{ url('unsetReceivedPayment',{uid: app.user.id, aid:sell.id}) }}">Annulla Pagamento Ricevuto</a>
                                                                    {% endif %}
                                                                    {% if sell.shipped == 0 %}
                                                                        <a class="dropdown-item" href="{{ url('setAsShipped',{uid: app.user.id, aid:sell.id}) }}">Segnala come Spedito</a>
                                                                    {% elseif sell.shipped == 1 %}
                                                                        <a class="dropdown-item" href="{{ url('unsetAsShipped',{uid: app.user.id, aid:sell.id}) }}">Annulla Spedito</a>
                                                                    {% endif %}
                                                                    {% if sell.feedout == 0 %}
                                                                        <a class="dropdown-item" href="{{ url('feedback_leave',{uid: app.user.id, aid:sell.id}) }}">Lascia Feedback</a>
                                                                    {% elseif sell.feedout == 1 %}
                                                                    {% endif %}
                                                                    <a class="dropdown-item" href="{{ url('tracking',{'uid': app.user.username,'aid': sell.aid}) }}">Traccia la Spedizione</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item" href="#">Annulla transazione</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% set index = index + 1 %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="text-center">Non hai ancora alcun effettuato alcun Acquisto</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="width:100%">
                            <div class="card-block">
                                <div class="card-title"><h5>Acquisti</h5></div>
                                <div class="card-text">
                                    {% if sells > 0 %}
                                        {% set index = 0 %}
                                        {% for buy in buys %}
                                            <div class="card">
                                                <div class="card-block profile-bacheca-card" style="padding:0px">
                                                    <img src="/uploads/photos/{{ buy.aid }}-1.jpg" style="width:80px;float:left;margin-right:10px">
                                                    <div class="row" style="margin-top:18px">
                                                        <div class="col-md">
                                                            <div class="card-title">{{ user.convertAds(buy.aid) }}</div>
                                                        </div>

                                                        <div class="ml-auto">
                                                            <img src="{{ asset('img/icons/icon_check.png') }}" style="width:24px;margin-right:10px;{% if user.getSell(buy.id,'isVerified') == 0 %}filter:brightness(300%){% endif %}" data-toggle="tooltip" data-title="Verificato">
                                                            <img src="{{ asset('img/icons/icon_dollars.png') }}" style="width:24px;margin-right:10px;{% if user.getSell(buy.id,'isPaid') == 0 %}filter:brightness(300%){% endif %}" data-toggle="tooltip" data-title="Pagato">
                                                            <img src="{{ asset('img/icons/icon_package.png') }}" style="width:24px;margin-right:10px;{% if user.getSell(buy.id,'isShipped') == 0 %}filter:brightness(300%){% endif %}" data-toggle="tooltip" data-title="Spedito">
                                                            <img src="{{ asset('img/icons/icon_feed_sended.png') }}" style="width:20px;margin-right:10px;{% if user.getSell(buy.id,'isFeedOut') == 0 %}filter:brightness(300%){% endif %}" data-toggle="tooltip" data-title="Feedback lasciato">
                                                            <img src="{{ asset('img/icons/icon_feed_received.png') }}" style="width:20px;margin-right:10px;{% if user.getSell(buy.id,'isFeedIn') == 0 %}filter:brightness(300%){% endif %}" data-toggle="tooltip" data-title="Feedback ricevuto">
                                                        </div>
                                                        <div class="ml-auto" style="margin-top: -6px;margin-right:10px">
                                                            <div class="btn-group" role="group">
                                                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Azioni
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                                    <a class="dropdown-item" href="#">Segnala come Pagamento Inviato</a>
                                                                    <a class="dropdown-item" href="#">Segnala come Ricevuto</a>
                                                                    <a class="dropdown-item" href="#">Lascia Feedback</a>
                                                                    <a class="dropdown-item" href="{{ url('tracking',{'uid': app.user.username,'aid': buy.aid}) }}">Traccia la Spedizione</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item" href="#">Annulla transazione</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% set index = index + 1 %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="text-center">Non hai ancora alcun effettuato alcun Acquisto</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="width: 100%;">
                            <div class="card-block">
                                <div class="card-title"><h5>Lista dei Desideri</h5></div>
                                <div class="card-text">
                                    {% if sells > 0 %}
                                        {% set index = 0 %}
                                        {% for wish in wishes %}

                                            <div class="card">
                                                <div class="card-block profile-bacheca-card" style="padding:0px">
                                                    <img src="/uploads/photos/{{ wish.aid }}-1.jpg" style="width:80px;float:left;margin-right:10px">
                                                    <div class="row" style="margin-top:18px">
                                                        <div class="col-md">
                                                            <div class="card-title">{{ user.convertAds(wish.aid) }}</div>
                                                        </div>
                                                        <div class="ml-auto" style="margin-top: -6px;margin-right:10px">
                                                            <div class="btn-group" role="group">
                                                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Azioni
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% set index = index + 1 %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="text-center">Non hai ancora alcun effettuato alcun elemento nella lista desideri</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="messaggi" role="tabpanel">
                        <ul class="nav nav-tabs nav-fill" id="messaggi-tab">
                            <li class="nav-item">
                                <a class="nav-link active" id="link-msg-rec" href="#messaggi-ricevuti" data-toggle="tab" role="tab">Ricevuti</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="link-msc-inv" href="#messaggi-inviati" data-toggle="tab" role="tab">Inviati</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="messaggi-ricevuti" role="tabpanel">
                                <div style="border:1px solid rgba(0,0,0,.125);padding:10px;border-radius:4px;background-color: #FFF">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button class="btn btn-outline-primary">Nuovo</button>
                                        <button class="btn btn-outline-danger">Elimina</button>
                                        <label class="btn btn-outline-primary" style="margin-bottom:0px" id="checkAll">
                                            <input type="checkbox" checked autocomplete="off"> Seleziona Tutti
                                        </label>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-primary dropdown-toggle profile-msg-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Marca come...
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Marca come letti</a>
                                                <a class="dropdown-item" href="#">Marca come non letti</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form>
                                    {% if messages %}
                                        <ul class="list-group">
                                            {% for message in messages %}
                                                <li class="list-group-item list-group-item-action">
                                                    {% if message.isRead == 0 %}
                                                        <input type="checkbox" class="msg-checkbox" style="margin-right:10px">
                                                        {{ message.datetime|date("d-m-Y H:m") }}&nbsp;-&nbsp;<strong><a href="{{ url('message',{'id' : message.id}) }}">Messaggio da "{{ user.convertUser(message.fromuid) }}" relativo all'inserzione "{{ user.convertAds(message.object) }}".</a> <small>(Non letto)</small></strong>
                                                    {% else %}
                                                        <input type="checkbox" class="msg-checkbox" style="margin-right:10px">
                                                        {{ message.datetime|date("d-m-Y H:m") }}&nbsp;-&nbsp;<a href="{{ url('message',{'id' : message.id}) }}">Messaggio da "{{ user.convertUser(message.fromuid) }}" relativo all'inserzione "{{ user.convertAds(message.object) }}".</a>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        Nessun messaggio ricevuto
                                    {% endif %}
                                </form>
                            </div>
                            <div class="tab-pane" id="messaggi-inviati" role="tabpanel">
                                <div style="border:1px solid rgba(0,0,0,.125);padding:10px;border-radius:4px;background-color: #FFF">
                                    <div class="btn-group" data-toggle="buttons">
                                        <button class="btn btn-outline-primary">Nuovo</button>
                                        <button class="btn btn-outline-danger">Elimina</button>
                                        <label class="btn btn-outline-primary" style="margin-bottom:0px" id="checkAll">
                                            <input type="checkbox" checked autocomplete="off"> Seleziona Tutti
                                        </label>
                                    </div>
                                </div>
                                <form>
                                    {% if messagesR %}
                                        <ul class="list-group">
                                            {% for messageR in messagesR %}
                                                <li class="list-group-item list-group-item-action">
                                                    {% if messageR.isRead == 0 %}
                                                        <input type="checkbox" class="msg-checkbox" style="margin-right:10px">
                                                        {{ messageR.datetime|date("d-m-Y H:m") }}&nbsp;-&nbsp;<strong><a href="{{ url('message',{'id' : messageR.id}) }}">Messaggio a "{{ user.convertUser(messageR.touid) }}" relativo all'inserzione "{{ user.convertAds(messageR.object) }}".</a> <small>(Non letto)</small></strong>
                                                    {% else %}
                                                        <input type="checkbox" class="msg-checkbox" style="margin-right:10px">
                                                        {{ messageR.datetime|date("d-m-Y H:m") }}&nbsp;-&nbsp;<a href="{{ url('message',{'id' : messageR.id}) }}">Messaggio a "{{ user.convertUser(messageR.touid) }}" relativo all'inserzione "{{ user.convertAds(messageR.object) }}".</a>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        Nessun messaggio ricevuto
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="annunci" role="tabpanel">
                        <div class="card" style="width: 100%;border:none">
                            <div class="">
                                <div class="card-text">
                                    {% if ads %}
                                        <ul class="list-group">
                                            {% for ad in ads %}
                                                <li class="list-group-item profile-ads-list-item list-group-item-action">
                                                    {% set adSlug = user.slugify(ads[loop.index0].name) %}
                                                    {% set catName = user.slugify(user.convertCategory(ads[loop.index0].category)) %}
                                                    <div class="row" style="width:100%">
                                                        <div class="col-1 hidden-md-down">
                                                            <a href="{{ url('vedi_oggetto',  {'category': catName,'item': ads[loop.index0].id,'title': adSlug }) }}">
                                                                <div class="ratio" style="background-image: url(/uploads/photos/{{ ads[loop.index0].id }}-1.jpg)"></div>
                                                            </a>
                                                        </div>
                                                        <div class="col-8 align-middle d-flex align-items-center" style="margin-left:10px">
                                                            <a href="{{ url('vedi_oggetto',  {'category': catName,'item': ads[loop.index0].id,'title': adSlug }) }}">
                                                                {{ ads[loop.index0].name }}
                                                            </a>

                                                            {% if ad.objLevel == 1 %}
                                                                <img src="{{ asset('img/coins/coin_gold.png') }}" class="profile_coin" data-toggle="tooltip" data-html="true" data-placement="right" title="<strong>Inserzione Oro </strong><br> Tempo Rimanente: 7 giorni">
                                                            {% elseif ad.objLevel == 2 %}
                                                                <img src="{{ asset('img/coins/coin_silver.png') }}" class="profile_coin" data-toggle="tooltip" data-html="true" data-placement="right" title="<strong>Inserzione Argento </strong><br> Tempo Rimanente: 3 Giorni">
                                                            {% elseif ad.objLevel == 3 %}
                                                                <img src="{{ asset('img/coins/coin_bronze.png') }}" class="profile_coin" data-toggle="tooltip" data-html="true" data-placement="right" title="<strong>Inserzione Bronzo </strong><br> Tempo Rimanente: 24 Ore">
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-2 d-block no-padding ml-auto align-middle d-flex align-items-center" >
                                                            <small class="text-muted info-status float-right">&nbsp;
                                                                {% set pStatus = ads[loop.index0].published %}
                                                                {% if pStatus == 0 %}
                                                                    <i class="fa fa-pause-circle text-warning" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="In Attesa (Non pubblicato, in attesa di moderazione)"></i>
                                                                {% elseif pStatus == 1 %}
                                                                    <i class="fa fa-check-circle text-success" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Pubblicato"></i>
                                                                {% elseif pStatus == 2 %}
                                                                    <i class="fa fa-times-circle text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Rifiutato (Verrà eliminato tra 7 giorni a meno che non venga modificato)"></i>
                                                                {% endif %}
                                                            </small>
                                                            <div class="ml-auto">
                                                                <div class="dropdown" style="margin-right: 15px;">
                                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Opzioni
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                                        <a class="dropdown-item" href="{{ url('promote') }}"><img class="profile-btn-icon" src="{{ asset('img/icons/icon_promove.png') }}">&nbsp;Promuovi</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="{{ url('sold_id', {'uid':user_info.0.name,'aid':ads[loop.index0].id}) }}"><img class="profile-btn-icon" src="{{ asset('img/icons/icon_check.png') }}">&nbsp;Venduto</a>
                                                                        <a class="dropdown-item" id="edit" href="#"><img class="profile-btn-icon" src="{{ asset('img/icons/icon_edit.png') }}">&nbsp;Modifica</a>
                                                                        <a class="dropdown-item" id="delete-{{ ad.id }}"><img class="profile-btn-icon" src="{{ asset('img/icons/icon_delete.png') }}">&nbsp;Elimina</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <br><div class="text-center">Nessun Annuncio</div><br>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="feedback" role="tabpanel">
                        <div class="card" style="width: 100%;border:none">
                            <div class="">
                                <div class="card-text">
                                    {% if feedback %}
                                        <ul class="list-group">
                                            {% for feed in feedback %}
                                                <li class="list-group-item list-group-item-action">
                                                    {% if feedback[loop.index0].positive == 1 %}
                                                        <img style="width:20px" src="{{ asset('img/icons/icon_plus_green.png') }}">
                                                    {% else %}
                                                        <img style="width:20px" src="{{ asset('img/icons/icon_minus_red.png') }}">
                                                    {% endif %}
                                                    &nbsp;
                                                    {{ feedback[loop.index0].description }}&nbsp;
                                                    <span class="badge badge-default float-right" style="right: 10px; top:15px; position: absolute;">Voto: {{ feedback[loop.index0].vote }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <br><div class="text-center">Nessun Feedback</div><br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="settings" role="tabpanel">
                        <div class="card" style="width: 100%;">
                            <div class="card-block">
                                <div class="card-text">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Indirizzo e-mail</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{ user_info.0.email }}">
                                            <small id="emailHelp" class="form-text text-muted">L'indirizzo e-mail è nascosto agli altri.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nome utente</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{ user_info.0.name }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Reinserici password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Indirizzo</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="addressHelp" placeholder="Es: via col Vento, 12 - 01234 - Roma - RM" value="{{ user_info.0.address }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Telefono</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="phoneHelp" placeholder="Es: 0123-456789" value="{{ user_info.0.phone }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Aggiorna</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-center hidden-md-down">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- VedoCompro -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:160px;height:600px"
                     data-ad-client="ca-pub-4967985757423249"
                     data-ad-slot="7771954836"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
    {% include 'template/footer.html.twig' %}
    </div>
    <script>
        var url = window.location.href;
        if(url.substring(url.indexOf("#"))) {
            var activeTab = 'bacheca';
        } else {
            var activeTab = url.substring(url.indexOf("#") + 1);
        }
        if (activeTab == null) { activeTab = 'bacheca'; }
        $("#" + activeTab).addClass("active in");
        $(".link-" + activeTab).addClass("active");
        $('#messaggi-tab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
        $(document).ready(function(){
            $("#delete-"+n).click(function(){
                $.ajax({url: "demo_test.txt", success: function(result){
                    $("#div1").html(result);
                }});
            });
        });
        $("#checkAll").click(function(){
            $('input:checkbox').prop('checked', this.checked);
        });
    </script>
    <style>
        .ratio{
            position:relative;
            width: 130%;
            height: 75px;
            padding-bottom: 50% ; /* % of width, defines aspect ratio*/

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    </style>
{% endblock %}