<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-sm-12">
            {% if app.user.username == user_info.0.username %}
                <h3 class="mb-3">I tuoi Annunci</h3>
            {% else %}
                <h3 class="mb-3">Annunci</h3>
            {% endif %}
            {% if ads %}
                <ul class="list-group">
                    {% for ad in ads %}
                        <li class="list-group-item list-group-item-action list-item-shadow" style="padding:0px!important">
                            {% set adSlug = user.slugify(ads[loop.index0].name) %}
                            {% set catName = user.slugify(user.convertCategory(ads[loop.index0].category)) %}
                            <div class="row">
                                <div class="col-sm-3 hidden-md-down" style="padding:0px!important">
                                    <a href="{{ url('vedi_oggetto',  {'category': catName,'item': ads[loop.index0].id,'title': adSlug }) }}">
                                        <div class="ratio" style="background-image: url(https://s3.eu-west-2.amazonaws.com/vedocompro/photo/{{ ads[loop.index0].id }}-1.jpg)"></div>
                                    </a>
                                </div>
                                <div class="col-sm-6 align-middle d-flex align-items-center" >
                                    <a href="{{ url('vedi_oggetto',  {'category': catName,'item': ads[loop.index0].id,'title': adSlug }) }}">
                                        {{ ads[loop.index0].name }}
                                    </a>
                                    {% if ad.goldPromotionEndDate != null %}
                                        <img src="{{ asset('img/coins/coin_gold.png') }}" class="profile_coin" data-toggle="tooltip" data-html="true" data-placement="right" title="<strong>Inserzione Oro </strong><br> Scadenza: {{ ad.goldPromotionEndDate|date("d/m/Y H:i:s") }}">
                                    {% elseif ad.silverPromotionEndDate != null %}
                                        <img src="{{ asset('img/coins/coin_silver.png') }}" class="profile_coin" data-toggle="tooltip" data-html="true" data-placement="right" title="<strong>Inserzione Argento </strong><br> Scadenza: {{ ad.silverPromotionEndDate|date("d/m/Y H:i:s") }}">
                                    {% elseif ad.bronzePromotionEndDate != null %}
                                        <img src="{{ asset('img/coins/coin_bronze.png') }}" class="profile_coin" data-toggle="tooltip" data-html="true" data-placement="right" title="<strong>Inserzione Bronzo </strong><br> Scadenza: {{ ad.goldPromotionEndDate|date("d/m/Y H:i:s") }}">
                                    {% endif %}
                                </div>
                                <div class="col-sm-2 no-padding align-middle d-flex align-items-center ml-5 pl-5" >
                                    {% if app.user.username == user_info.0.username %}
                                        <small class="text-muted info-status float-right">&nbsp;
                                            {% set pStatus = ads[loop.index0].published %}
                                            {% if pStatus == 0 %}
                                                <i class="fa fa-pause-circle text-warning" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="In Attesa (Non pubblicato, in attesa di moderazione)"></i>
                                            {% elseif pStatus == 1 %}
                                                <i class="fa fa-check-circle text-success" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Pubblicato"></i>
                                            {% elseif pStatus == 2 %}
                                                <i class="fa fa-times-circle text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Rifiutato (Verrà eliminato tra 7 giorni a meno che non venga modificato)"></i>
                                            {% endif %}
                                        </small>
                                        <div class="ml-auto">
                                            <div class="dropdown" style="margin-right: 15px;">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Opzioni
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="{{ url('promote', {'id': ad.id})}}"><img class="profile-btn-icon" src="{{ asset('img/icons/icon_promove.png') }}">&nbsp;Promuovi</a>
                                                    <div class="dropdown-divider"></div>
{#                                                    <a class="dropdown-item" href="{{ url('sold_id', {'uid':user_info.0.name,'aid':ads[loop.index0].id}) }}"><img class="profile-btn-icon" src="{{ asset('img/icons/icon_check.png') }}">&nbsp;Venduto</a>#}
                                                    <a class="dropdown-item disabled" id="edit" href="#" disabled="disabled"><img class="profile-btn-icon" src="{{ asset('img/icons/icon_edit.png') }}">&nbsp;Modifica</a>
                                                    <a class="dropdown-item" id="delete-{{ ad.id }}" href="{{ url("user_delete_ad", {'id': ad.id}) }}"><img class="profile-btn-icon" src="{{ asset('img/icons/icon_delete.png') }}">&nbsp;Elimina</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <br><div class="text-center">Nessun Annuncio</div><br>
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<style>
    .ratio {
        margin: 0px 15px!important;
        min-height: 150px;
        min-width: 150px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .info-status {
        font-size: 30px;
    margin-right: 15px;
    line-height: 0px;
    }
</style>