<div class="container">
    <div class="row mt-3">
      <div class="col-md-12" style="padding:10px;background-color: #FFF">
            <div class="btn-group" data-toggle="buttons">
                <button class="btn btn-outline-primary">Nuovo</button>
                <button class="btn btn-outline-danger">Elimina</button>
            </div>
            <ul class="nav nav-tabs btn-group float-right" id="messaggi-tab">
                <li class="nav-item">
                    <a class="btn btn-outline-primary nav-link active" id="link-msg-rec" href="#messaggi-ricevuti" data-toggle="tab" role="tab">Messaggi Ricevuti</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary nav-link" id="link-msc-inv" href="#messaggi-inviati" data-toggle="tab" role="tab">Messaggi Inviati</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="row mt-2 tab-pane active" id="messaggi-ricevuti" role="tabpanel">
            <div class="col-md-12">
                 <form>
                {% if messages %}
                    <ul class="list-group">
                        {% for message in messages %}
                            <li class="list-group-item list-group-item-action list-item-shadow">
                                {% if message.isRead == 0 %}
                                    <input type="checkbox" class="msg-checkbox" style="margin-right:10px">
                                    {{ message.datetime|date("d-m-Y H:m") }}&nbsp;-&nbsp;<strong><a onClick="viewMessage('{{ url('message',{'id' : message.id}) }}')">Messaggio da "{{ user.convertUser(message.fromuid) }}" relativo all'inserzione "{{ user.convertAds(message.object) }}".</a> <small>(Non letto)</small></strong>
                                {% else %}
                                    <input type="checkbox" class="msg-checkbox" style="margin-right:10px">
                                    {{ message.datetime|date("d-m-Y H:m") }}&nbsp;-&nbsp;<a onClick="viewMessage('{{ url('message',{'id' : message.id}) }}')">Messaggio da "{{ user.convertUser(message.fromuid) }}" relativo all'inserzione "{{ user.convertAds(message.object) }}".</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Nessun messaggio ricevuto
                {% endif %}
            </form>
            </div>
        </div>
        <div class="row mt-2 tab-pane" id="messaggi-inviati" role="tabpanel">
            <div class="col-md-12">
                 <form>
                {% if messagesR %}
                    <ul class="list-group">
                        {% for messageR in messagesR %}
                            <li class="list-group-item list-group-item-action list-item-shadow">
                                {% if messageR.isRead == 0 %}
                                    <input type="checkbox" class="msg-checkbox" style="margin-right:10px">
                                    {{ messageR.datetime|date("d-m-Y H:m") }}&nbsp;-&nbsp;<strong><a onClick="viewMessage('{{ url('message',{'id' : messageR.id}) }}')">Messaggio a "{{ user.convertUser(messageR.touid) }}" relativo all'inserzione "{{ user.convertAds(messageR.object) }}"</a> <small>(Non letto)</small></strong>
                                {% else %}
                                    <input type="checkbox" class="msg-checkbox" style="margin-right:10px">
                                    {{ messageR.datetime|date("d-m-Y H:m") }}&nbsp;-&nbsp;<a onClick="viewMessage('{{ url('message',{'id' : messageR.id}) }}')">Messaggio a "{{ user.convertUser(messageR.touid) }}" relativo all'inserzione "{{ user.convertAds(messageR.object) }}"</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Nessun messaggio ricevuto
                {% endif %}
            </form>
            </div>
        </div>
    </div>
    
</div>
