<div class="container">
    {{ form_start(settingsForm) }}
    <div class="row mt-5">
        <div class="col-sm-4">
            {{ form_label(settingsForm.email) }}
            {{ form_widget(settingsForm.email) }}
            {{ form_widget(settingsForm.plain_password) }}
        </div>
        <div class="col-sm-4">
            {{ form_label(settingsForm.realname) }}
            {{ form_widget(settingsForm.realname) }}
            {{ form_label(settingsForm.phone) }}
            {{ form_widget(settingsForm.phone) }}
        </div>
        <div class="col-sm-4">
            {{ form_label(settingsForm.address) }}
            {{ form_widget(settingsForm.address) }}
            {{ form_label(settingsForm.city) }}
            {{ form_widget(settingsForm.city) }}
            {{ form_label(settingsForm.cap) }}
            {{ form_widget(settingsForm.cap) }}
        </div>
            <script>
                $('#form_submit').click( function (e) {
                    e.preventDefault;
                    alert('click');
                })
            </script>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            {{ form_widget(settingsForm.submit) }}
        </div>
    </div>
    {{ form_end(settingsForm) }}
</div>