
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('uploads/profile/' ~ app.user.pic ) | imagine_filter('profile_img_filter')}}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.username }}</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menù</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="{% if app.request.attributes.get('_route') == 'admin' %}active{% endif %}"><a href="{{ url('admin') }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            {% if is_granted('ROLE_MODERATOR') %}
                <li class="{% if app.request.attributes.get('_route') == 'admin_shop' %}active{% endif %}treeview active menu-open">
                    <a href="{{ url('admin_shop') }}"><i class="fa fa-cart-plus"></i> <span>Shop</span></a>
                    <ul class="treeview-menu">
                        <li class="">
                            <a href="{{ url('admin_shop') }}">Dashboard</a>
                        </li>
                        <li>
                            <a href="{{ url('admin_shop_products') }}">Prodotti</a>
                        </li>
                        <li class="">
                            <a href="{{ url('admin_shop_categories') }}">Categorie</a>
                        </li>
                    </ul>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'admin_inserzioni' %}active{% endif %}"><a href="{{ url('admin_inserzioni') }}"><i class="fa fa-shopping-cart"></i> <span>Inserzioni</span></a></li>
                <li class="{% if app.request.attributes.get('_route') == 'admin_payments' %}active{% endif %}"><a href="{{ url('admin_payments') }}"><i class="fa fa-credit-card"></i> <span>Pagamenti</span></a></li>
                <li class="{% if app.request.attributes.get('_route') == 'admin_utenti' %}active{% endif %}"><a href="{{ url('admin_utenti') }}"><i class="fa fa-users"></i> <span>Utenti</span></a></li>
                <li class="{% if app.request.attributes.get('_route') == 'admin_video' %}active{% endif %}"><a href="{{ url('admin_video') }}"><i class="fa fa-video-camera"></i> <span>Video</span></a></li>
                <li class="{% if app.request.attributes.get('_route') == 'admin_mail' %}active{% endif %}"><a href="{{ url('admin_mail') }}"><i class="fa fa-envelope"></i> <span>Mail</span></a></li>
                <li class="{% if app.request.attributes.get('_route') == 'admin_reviews' %}active{% endif %}"><a href="{{ url('admin_reviews') }}"><i class="fa fa-comments"></i> <span>Recensioni</span></a></li>
            {% endif %}
            {% if is_granted('ROLE_SUPPORT') %}
                <li class="{% if app.request.attributes.get('_route') == 'admin_coupons' %}active{% endif %}"><a href="{{ url('admin_coupons') }}"><i class="fa fa-ticket"></i> <span>Coupons</span></a></li>
                <li class="{% if app.request.attributes.get('_route') == 'admin_helpdesk' %}active{% endif %}"><a href="{{ url('admin_helpdesk') }}"><i class="fa fa-question-circle"></i> <span>Assistenza</span></a></li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="{% if app.request.attributes.get('_route') == 'admin_suggerimenti' %}active{% endif %}"><a href="{{ url('admin_suggerimenti') }}"><i class="fa fa-inbox"></i> <span>Suggerimenti</span></a></li>
                <li class="{% if app.request.attributes.get('_route') == 'admin_sistema' %}active{% endif %}"><a href="{{ url('admin_sistema') }}"><i class="fa fa-gear"></i> <span>Sistema</span></a></li>
            {% endif %}
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
