<!DOCTYPE html>
<!-- Developed by AndreaEM (www.andreaem.com) for VedoCompro.it -  All Rights Reserved - Conding, Graphics Idea Convertion and Functionality made by Andrea Emili (info@andreaem.it)-->
<html prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.7, maximum-scale=0.7" />
        <title>{% block title %}VedoCompro.it - Acquista e Vendi con un video!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="scss" href="{{ asset('css/player.vedocompro.scss') }}">
        <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
        <link href="{{asset('css/video-js.css')}}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-select.min.css') }}" rel="stylesheet">
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script async src="{{asset('js/jquery-ui.min.js')}}"></script>
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link href="{{ asset('css/scrollbar.css') }}" rel="stylesheet" type="text/css" >
{#        <script src="https://content.jwplatform.com/libraries/7P3qGamK.js"></script>#}
{#        <script>jwplayer.key="ABCdeFG123456SeVenABCdeFG123456SeVen=="</script>#}
        <script async src="{{ asset('js/affix.js') }}"></script>
        {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-4967985757423249",
                enable_page_level_ads: true
            });
        </script>#}
        {% if app.environment == 'prod' %}
        <script type="text/javascript">
            var _iub = _iub || [];
            _iub.csConfiguration = {"reloadOnConsent":true,"enableRemoteConsent":true,"lang":"it","siteId":1498554,"cookiePolicyUrl":"https://www.vedocompro.it/privacy-policy","consentOnDocument":true,"cookiePolicyId":25597115, "banner":{ "position":"bottom" } };
        </script>
            <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async> </script>

        <script type="text/javascript">
            document.addEventListener('gdprCookiesEnabled', function (e) {
                console.log(e);
                if(e.detail.marketing) {
                    console.log('marketing cookies are enabled');
                }
            });
        </script>
        {% endif %}
        {% block head %}

        {% endblock %}
        <!-- WhatsHelp.io widget -->
        <script type="text/javascript">
            (function () {
                var options = {
                    whatsapp: "+393518181127",
                    //call: "+393518181127",
                    telegram: "vedocompro-bot",
                    email: "helpdesk@vedocompro.it",
                    facebook: "1069683136499195",
                    call_to_action: "Hai bisogno di Aiuto?",
                    button_color: "#129BF4",
                    position: "right",
                    order: "whatsapp,telegram,facebook,email,call",
                    company_logo_url: "https://randomuser.me/api/portraits/women/95.jpg",
                    greeting_message: "Ciao sono Giulia, come posso aiutarti?", // Text of greeting message
                    key: "",
                };
                var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
                s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
                var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            })();
        </script>
        <!-- /WhatsHelp.io widget -->
    </head>
    <body style="padding-right:0px!important">
        {% block body %}
        {% endblock %}
        <script src="{{ asset("js/popper.min.js") }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script async src="{{ asset("js/bootstrap-select.min.js") }}"></script>
        <script async src="{{asset('js/tether.min.js')}}"></script>
        <script async src="{{asset('js/pace.min.js')}}"></script>
        <script async src="{{asset('js/fastclick.min.js')}}"></script>
        <script async src="{{asset('js/jquery.form.js')}}"></script>
        <script async src="{{ asset('js/jquery.preload.min.js') }}"></script>
        <script async src="{{ asset('js/base.js') }}"></script>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69743962-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());

            gtag('config', 'UA-69743962-4');
            
              $(document).ready(function(){
                  $('.modal').on('show.bs.modal', function () {
                  if ($(document).height() > $(window).height()) {
                    // no-scroll
                    $('body').addClass("modal-open-noscroll");
                    $('.navbar').addClass("navbar-no-padding");
                    $('#searchModal').addClass("modal-open-noscroll");
                  }
                  else { 
                    $('body').removeClass("modal-open-noscroll");
                  }
                })
                $('.modal').on('hide.bs.modal', function () {
                    
                })
              })
        </script>
        <style>
            .cc-color-override--1943300103.cc-window {
                max-width: 100%;
                bottom: 0px!important;
            }
            .modal-open-noscroll {
              padding-right: 0!important;
              overflow: hidden;
            }
            .navbar-no-padding {
                padding-right: 16px!important;
            }
            .modal-open-noscroll .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
              padding-right: 0!important;
            }
        </style>
    </body>
</html>
