{% extends 'admin/base.html.twig' %}

{% block title %}VedoCompro.it - ADMIN - HelpDesk{% endblock %}

{% block body %}

    <section class="content-header">
        <h1>
            HelpDesk
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li>HelpDesk</li>
        </ol>
    </section>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ countTO }}<sup style="font-size: 20px"></sup></h3>
    
                        <p>Richieste Aperte</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-help"></i>
                    </div>
                    <a href="http://aemhomenet.ddns.net/admin/helpdesk/" class="small-box-footer">
                        Vedi tutti <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ countTC }}<sup style="font-size: 20px"></sup></h3>
    
                        <p>Richieste Chiuse</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-help"></i>
                    </div>
                    <a href="http://aemhomenet.ddns.net/admin/helpdesk/" class="small-box-footer">
                        Vedi tutti <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>0<sup style="font-size: 20px"></sup></h3>
    
                        <p>Richieste Urgenti</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-help"></i>
                    </div>
                    <a href="http://aemhomenet.ddns.net/admin/helpdesk/" class="small-box-footer">
                        Vedi tutti <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>0<sup style="font-size: 20px"></sup></h3>
    
                        <p>Richieste Assistenza</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-help"></i>
                    </div>
                    <a href="http://aemhomenet.ddns.net/admin/helpdesk/" class="small-box-footer">
                        Vedi tutti <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Utente</th>
                                <th>Data</th>
                                <th>Titolo</th>
                                <th>Messaggio</th>
                                <th>Stato</th>
                                <th>Assegnato</th>
                            </tr>
                            {% for ticketOpen in ticketsOpen %}
                                <tr>
                                    <td>{{ ticketOpen.id }}</td>
                                    <td><a href=""></a>{{ ticketOpen.uid }}</td>
                                    <td>{{ ticketOpen.timest|date("d-m-y h:m") }}</td>
                                    <td>{{ ticketOpen.title }}</td>
                                    <td>{{ ticketOpen.message }}</td>
                                    <td>{% if (ticketOpen.closed == 0) %} Aperto {% else %} Chiuso {% endif %} </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}