{% extends 'admin/base.html.twig' %}

{% block title %}VedoCompro.it - ADMIN - HelpDesk{% endblock %}

{% block body %}

    <section class="content-header">
        <h1>
            HelpDesk
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li>HelpDesk</li>
        </ol>
    </section>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ countTO }}<sup style="font-size: 20px"></sup></h3>
    
                        <p>Richieste Aperte</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-help"></i>
                    </div>
                    <a href="{{ url('admin_helpdesk', {'show': 'aperti'}) }}" class="small-box-footer">
                        Vedi tutti <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ countTC }}<sup style="font-size: 20px"></sup></h3>
    
                        <p>Richieste Chiuse</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-help"></i>
                    </div>
                    <a href="{{ url('admin_helpdesk', {'show': 'chiusi'}) }}" class="small-box-footer">
                        Vedi tutti <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>0<sup style="font-size: 20px"></sup></h3>
    
                        <p>Richieste Urgenti</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-help"></i>
                    </div>
                    <a href="" class="small-box-footer">
                        Vedi tutti <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{  countTA }}<sup style="font-size: 20px"></sup></h3>
    
                        <p>Richieste Assegnate</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-help"></i>
                    </div>
                    <a href="{{ url('admin_helpdesk', {'show': 'assegnati'}) }}" class="small-box-footer">
                        Vedi tutti <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Utente</th>
                                <th>Data</th>
                                <th>Titolo</th>
                                <th>Stato</th>
                                <th class="text-center">Assegnato</th>
                                <th>Assegnato a</th>
                                <th>Priorità</th>
                            </tr>
                            {% for ticketOpen in ticketsOpen %}
                                <tr>
                                    <td>{{ ticketOpen.id }}</td>
                                    <td><a href="{{ url('admin_utenti_vedi',{'id':ticketOpen.uid} ) }}">{{ tools.convertUname(ticketOpen.uid) }}</a></td>
                                    <td>{{ ticketOpen.timest|date("d-m-y h:m") }}</td>
                                    <td><a href="{{ url('helpdesk_view' , {'id' :ticketOpen.id}) }}">{{ ticketOpen.title }}</a></td>
                                    <td>{% if (ticketOpen.closed == 0) %} <span class="text-success">Aperto</span> {% else %} Chiuso {% endif %} </td>
                                    <td class="text-center">{% if (ticketOpen.closed == 2) %}<i class="fa fa-check-circle text-success"></i>{% else %}<i class="fa fa-times-circle text-danger"></i>{% endif %}</td>
                                    <td>{% if (ticketOpen.assignedTo != null) %}{{ tools.convertUname(ticketOpen.assignedTo) }}{% else %}<strong class="text-danger">Non Assegnato</strong>{% endif %}</td>
                                    <td><stong class="text-success">Nessuna</stong></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}