{% extends 'admin/base.html.twig' %}

{% block title %}VedoCompro.it - ADMIN - Payment{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Inserzioni
            <small>Lista</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Pagamenti</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>ID</th>
                                <th>User</th>
                                <th>Product</th>
                                <th>Paypal Txn ID</th>
                                <th>Price</th>
                                <th>Payment Concurrency</th>
                                <th>Payment Status</th>
                                <th>Payment Email</th>
                            </tr>
                            {% for payment in payments %}
                                <tr>
                                    <td>{{ payment.id }}</td>
                                    <td><a href="{{ url("admin_utenti_vedi", {id: payment.id}) }}">{{ payment.username }}</a></td>
                                    <td>{{ payment.productName }}</td>
                                    <td>{{ payment.paypalTxnId }}</td>
                                    <td>{{ payment.price }}</td>
                                    <td>{{ payment.paymentConcurrency }}</td>
                                    <td>{{ payment.paymentStatus }}</td>
                                    <td>{{ payment.paymentEmail }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->
{% endblock %}