{% extends 'base.html.twig' %}
{% block body %}
    {% include 'template/header.html.twig' %}
    <div class="container-fluid scrollbar">
        <div class="container">
            <div class="row">
                <form name="promoteform" method="post" action="{{ path("promote", {'id': id}) }}">
                    <div class="card" style="width:100%">
                        <div class="card-block">
                            <h3 class="card-title">Promuovi Inserzione</h3>
                            <h6 class="card-subtitle mb-2 text-muted">Seleziona l'inserzione che desideri promuovere, poi assegnale i crediti.<br> Puoi decidere se assegnare una diversa posizione nei risultati di ricerca e quanto tempo dura la promozione.</h6>
                            <small class="card-subtitle"></small>
                            <br>
                            <p class="card-text">
                                <br>
                                <hr>
                                <div class="row">
                                    <div class="col coin-col" id="coin-gold" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<strong>Oro</strong> La tua inserzione apparirà tra i primi risultati di ricerca.">
                                        <img src="{{ asset('img/coins/coin_gold.png') }}" class="coins-animated">
                                        <input hidden type="radio" name="cointype" id="gold_selector" value="gold">
                                        {{ creditsGold }}
                                    </div>
                                    <div class="col coin-col" id="coin-silver" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<strong>Argento</strong> La tua inserzione apparirà tra i primi risultati di ricerca, dopo le inserzioni Oro.">
                                        <img src="{{ asset('img/coins/coin_silver.png') }}" class="coins-animated">
                                        <input hidden type="radio" name="cointype" id="silver_selector" value="silver">
                                        {{ creditsSilver }}
                                    </div>
                                    <div class="col coin-col" id="coin-bronze"  data-toggle="tooltip" data-placement="bottom" data-html="true" title="<strong>Bronzo</strong> La tua inserzione apparirà tra i primi risultati di ricerca, dopo le inserzioni Oro e Argento.">
                                        <img src="{{ asset('img/coins/coin_bronze.png') }}" class="coins-animated">
                                        <input hidden type="radio" name="cointype" id="bronze_selector" value="bronze">
                                        {{ creditsBronze }}
                                    </div>
                                </div>
                            </p>
                            <br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="promoteGold" style="display:none">
                                            <p><strong>ORO:</strong> la tua inserzione verrà sponsorizzata per 7 giorni e tornerà in cima ai risultati di ricerca ogni 24 ore.</p>
                                            <p>Sponsorizzare questa inserzione ti costa 1 credito ORO.</p>
                                            {% if creditsGold == 0 %}
                                            <p class="float-left text-danger">Non hai abbastanza crediti ORO.&nbsp;</p><a href="{{ url('upgrade') }}">Acquista</a>
                                            {% else %}
                                            <a href="" id="confirmGold" class="btn btn-outline-success">Conferma</a>
                                            {% endif %}
                                        </div>
                                        <div id="promoteSilver" style="display:none">
                                            <p><strong>ARGENTO:</strong> la tua inserzione verrà sponsorizzata per 3 giorni e tornerà in cima ai risultati di ricerca ogni 24 ore.</p>
                                            <p>Sponsorizzare questa inserzione ti costa 1 credito ARGENTO.</p>
                                            {% if creditsSilver == 0 %}
                                            <p class="float-left text-danger">Non hai abbastanza crediti ARGENTO.&nbsp;</p><a href="{{ url('upgrade') }}">Acquista</a>
                                            {% else %}
                                            <a href="" id="confirmSilver" class="btn btn-outline-success">Conferma</a>
                                            {% endif %}
                                        </div>
                                        <div id="promoteBronze" style="display:none">
                                            <p><strong>BRONZO:</strong> la tua inserzione verrà sponsorizzata per 24 Ore.</p>
                                            <p>Sponsorizzare questa inserzione ti costa 1 credito BRONZO.</p>
                                            {% if creditsBronze == 0 %}
                                            <p class="float-left text-danger">Non hai abbastanza crediti BRONZO.&nbsp;</p><a href="{{ url('upgrade') }}">Acquista</a>
                                            {% else %}
                                            <a href="" id="confirmBronze" class="btn btn-outline-success">Conferma</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            <br>
                            <br>
                            <button id="confirmBtn" class="card-link btn btn-outline-secondary" disabled>Promuovi</button>
                            <a href="#" class="card-link btn btn-outline-danger" data-toggle="modal" data-target="#deleteMessage">Annulla</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $('#coin-gold').hover(
            function() {
                $("#coin-gold").find("img").toggleClass('coins-animated-in');
            }
        );
        $('#coin-gold').click(
            function() {
                $('#promoteGold').toggle();
                $('#promoteSilver').hide();
                $('#promoteBronze').hide();
            }
        );
        $('#confirmGold').click(
            function(e) {
                e.preventDefault();
                $(this).addClass('btn-success').removeClass('btn-outline-success');
                $('#confirmBtn').addClass('btn-outline-success').removeClass('btn-outline-secondary');
                $('#confirmBtn').prop('disabled',false);
                $("#gold_selector").prop("checked", true);
            }
        );
        $('#coin-silver').hover(
            function() {
                $('#silver').toggle("slow");
                $("#coin-silver").find("img").toggleClass('coins-animated-in')
            }
        );
        $('#coin-silver').click(
            function() {
                $('#promoteSilver').toggle();
                $('#promoteGold').hide();
                $('#promoteBronze').hide();
            }
        );
        $('#confirmSilver').click(
            function(e) {
                e.preventDefault();
                $(this).addClass('btn-success').removeClass('btn-outline-success');
                $('#confirmBtn').addClass('btn-outline-success').removeClass('btn-outline-secondary');
                $('#confirmBtn').prop('disabled',false);
                $("#silver_selector").prop("checked", true);
            }
        );
        $('#coin-bronze').hover(
            function() {
                $('#bronze').toggle("slow")
                $("#coin-bronze").find("img").toggleClass('coins-animated-in')
            }
        );
        $('#coin-bronze').click(
            function() {
                $('#promoteBronze').toggle();
                $('#promoteSilver').hide();
                $('#promoteGold').hide();
            }
        );
        $('#confirmBronze').click(
            function(e) {
                e.preventDefault();
                $(this).addClass('btn-success').removeClass('btn-outline-success');
                $('#confirmBtn').addClass('btn-outline-success').removeClass('btn-outline-secondary');
                $('#confirmBtn').prop('disabled',false);
                $("#bronze_selector").prop("checked", true);
            }
        );
    </script>
    {% include 'template/footer.html.twig' %}
{% endblock %}