{% extends 'base.html.twig' %}
{% block title %}{{ ad_info.0.name }} - {{ ad_info.0.description }} - VedoCompro.it - Acquista e Vendi con un Video!{% endblock %}
{% block head %}
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="{{ ad_info.0.name }}" />
    <meta property="og:description" content="{{ ad_info.0.description }}" />
    <meta property="og:image" content="http://s3.eu-west-2.amazonaws.com/vedocompro/photo/{{ ad_info.0.id }}-1.jpg" />
    <meta property="og:image:secure_url" content="https://s3.eu-west-2.amazonaws.com/vedocompro/photo/{{ ad_info.0.id }}-1.jpg" />
    <meta property="og:video:width" content="450"> <!-- player width -->
    <meta property="og:video:height" content="250"> <!-- player height -->
    <meta property="og:video" content="https://s3.eu-west-2.amazonaws.com/vedocompro/video/{{ ad_info.0.id }}.mp4">
    <meta property="og:video:secure_url" content="https://s3.eu-west-2.amazonaws.com/vedocompro/video/{{ ad_info.0.id }}.mp4"> <!-- required for users whom use SSL (actually Facebook forces everyone to use SSL so you're required to use og:video:secure_url) so get a one -->
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=0 ">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <script src="{{asset('js/jquery.scrolling-tabs.min.js') }}"></script>
    <link rel="stylesheet" href="{{asset('css/jquery.scrolling-tabs.min.css') }}">
    <script src="https://use.fontawesome.com/bdc514bb6a.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//kenwheeler.github.io/slick/slick/slick-theme.css"/>
    <link href="{{ asset('css/video-js.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('js/video-js.skin.js') }}"></script>
{% endblock %}
{% block body %}


        {% include 'template/header.html.twig' %}
    <!-- Page -->
    <div class="wrapper">
        <div class="container-fluid pl-5 pr-5">
            <div class="row mt-5">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            {% if video.accepted == 1 %}
                                <!--<div id="video"></div>-->
                                <video id='video' class='video-js vjs-vedocompro-skin' controls preload='auto' width='100%'
                                       poster='https://s3.eu-west-2.amazonaws.com/vedocompro/photo/{{ ad_info.0.id }}-1.jpg' data-setup='{}'>
                                    <source src='{{ video.filename }}' type='video/mp4'>
                                    <p class='vjs-no-js'>
                                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                                        <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                                    </p>
                                </video>
                            {% else %}
                                <img src="https://via.placeholder.com/507x285?text=Annuncio%20non%20ancora%20accettato">
                            {% endif %}
                            {% set count = 0 %}
                            {% if ad_info.0.fields is empty %}
                                {% else %}
                            <ul id="extraFields" class="list-group">
                                {% for field in ad_info.0.fields %}
                                    {% set count = count + 1 %}
                                <li class="list-group-item">
                                    <span class="float-left"><strong>{{ field }}</strong></span>
                                    <span class="float-right">
                                        {% if field == "Classe Energetica" %}
                                            <img src="{{ asset('img/ape-icons/' ~ ad_info.0.vals[count -1] ~ '.gif') }}" style="width: 40px;position:relative;top:-10px">
                                        {% else %}
                                            {{ ad_info.0.vals[count -1]  }}
                                        {% endif %}
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if ad_info.0.isHotel == 1 %}
                                <div id="hotelServices" class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Servizi</h5>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    {% for itm in ad_info.0.services %}
                                                        <div class="col-6">
                                                            <span class="fa fa-check"></span>&nbsp;{{ itm }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <p class="font-weight-light mt-3">
                                Visualizzato <span class="text-blue">{{ ad_info.0.views }} </span>volte
                            </p>

                        </div>


                        <style>
                            #extraFields {
                                border: 1px solid rgba(0,0,0,.125);
                                border-radius: 5px;
                                margin-bottom: 15px;
                            }
                            #extraFields .list-group-item {
                                border: none!important;
                            }
                        </style>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h1 class="font-weight-light">{{ ad_info.0.name }}</h1>
                                        </div>
                                        <div class="col-sm-3 float-right">
                                            <div class="row mt-2  m-auto">
                                                <div class="col-xs-2 mr-1">
                                                    <div data-network="facebook" class="btn btn-outline-secondary button share-button st-custom-button facebook-share-button btn-round">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 mr-1">
                                                    <div data-network="twitter" class="btn btn-outline-secondary button share-button st-custom-button twitter-share-button btn-round">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 mr-1">
                                                    <div data-network="pinterest" class="btn btn-outline-secondary button share-button st-custom-button pinterest-share-button btn-round">
                                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 mr-1">
                                                    <div data-network="whatsapp" class="btn btn-outline-secondary button share-button st-custom-button whatsapp-share-button btn-round">
                                                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 mr-1">
                                                    <div data-network="sharethis" class="btn btn-outline-secondary button share-button st-custom-button sharethis-share-button btn-round">
                                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=596a2951191e1a0012335487&product=custom-share-buttons"></script>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="row mt-3">
                                                <div class="col-sm-8">
                                                    <h5 class="font-weight-light">
                                                        Inserito da: &nbsp;
                                                        <a href="{{ path('profilo', {'query': user_info.0.name}) }}">
                                                            {{user_info.0.name }}
                                                        </a>&nbsp;
                                                        {% if user_info.0.isCompany == 1 %}
                                                            <img src="{{ asset('img/vedocompro-verified-icon.jpg') }}" style="height:24px" data-toggle="tooltip" data-placement="top" title="Venditore verificato">
                                                        {% endif %}
                                                        ({{user_info.0.points}}) - {{ feed_percent }}% positivi
                                                    </h5>
                                                    <div class="mb-4">
                                                        <strong>
                                                            <h1>
                                                            {% if ad_info.0.isHotel == 1 %}
                                                                <small class="font-weight-normal">Camere a partire da </small><br>
                                                            {% endif %}
                                                            {{ ad_info.0.price }} € {% if ad_info.0.isHotel == 1 %} * {% endif %}
                                                            </h1>
                                                            {% if ad_info.0.isHotel == 1 %}
                                                                <small>* I prezzi potrebbero variare a seconda della stagione, contatta per saperne di più</small>
                                                            {% endif %}
                                                        </strong>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-4 mt-2">
                                                            <a href="" data-toggle="modal" data-target="#call" class="btn btn-block btn-outline-success"><i class="fa fa-phone"></i> Chiama</a>
                                                        </div>
                                                        <div class="col-4 mt-2">
                                                            <a href="" data-toggle="modal" data-target="#send_message" class="btn btn-block btn-outline-success"><i class="fa fa-envelope"></i> Messaggio</a>
                                                        </div>
                                                        {% if user_info.0.isCompany == 1 %}
                                                            {% if ad_info.0.hasMap == 1 %}
                                                                <div class="col-4 mt-2">
                                                                    <a href="https://www.google.com/maps/place/@{{ ad_info.0.mapCoords }},143m/" class="btn btn-block btn-outline-success"><i class="fa fa-map"></i> Indicazioni</a>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        {% if user_info.0.isCompany == 1 %}
                                                            <div class="companyBox ml-3 text-center mx-auto">
                                                                <a href="{{ user_info.0.companyWebsite }}" data-toggle="tooltip" data-placement="top" title="Visita il sito dell'azienda">
                                                                    <img src="{{ user_info.0.companyLogo }}" class="img-fluid">
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="bottomBox" class="row">
                                                <div class="col-sm-12">
                                                    <p class="font-weight-light">
                                                        {{ ad_info.0.description }}
                                                    </p>
                                                    <p class="font-weight-light">
                                                        Condizione: <span class="text-blue">{{ ad_info.0.objCondition }}</span>
                                                    </p>
                                                    <p class="font-weight-light">
                                                        Località: <span class="text-blue">{{ ad_info.0.location }} ({{ ad_info.0.region }})</span>
                                                    </p>


                                                    <p class="font-weight-light">
                                                        Categoria: <span class="text-blue">{{ ads.convertCategory(ad_info.0.category|capitalize) }}</span>
                                                    </p>
                                                </div>
                                            </div>
                                            {% if user_info.0.isCompany == 1 %}
                                                {% if ad_info.0.hasReviews == 1 %}
                                                    <hr>
                                                    <h4>Recensioni</h4>
                                                    {% if reviews is empty %}
                                                        <div class="row mb-2">
                                                            <div class="col-sm-12">
                                                                <div class="text-center">
                                                                    Non ci sono ancora recensioni per questo luogo, sii tu il primo a dirci cosa ne pensi.
                                                                    <br>
                                                                    {% if app.user == null %}
                                                                        <a href="{{ url('login') }}">Accedi per recensire</a>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        {% for item in reviews %}
                                                            <div class="row mb-2">
                                                                <div class="col-sm-12">
                                                                    <div class="media border p-3">
                                                                        <img class="rounded-circle user-pic" src="{{ asset('uploads/profile/' ~ ads.getUserPic(item.uid) ) | imagine_filter('profile_img_filter')}}">
                                                                        <div class="media-body ml-2">
                                                                            <h6><strong><a href="{{ path('profilo', {'query': item.uid}) }}">{{ ads.convertUName(item.uid) }}</a></strong> <small><i>{{ item.datetime|date("d M Y") }}</i></small></h6>
                                                                            <p><img class="star-rating" src="{{ asset('img/reviews-stars/' ~  item.rating ~ '.png') }}"> <small>({{ item.rating }} / 5)</small></p>
                                                                            <p>{{ item.comment }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if app.user != null %}
                                                        <div class="row mb-2">
                                                            <div class="col-sm-12 mt-3">
                                                                <div class="card card-body reviewCard">
                                                                    {% for item in reviews %}
                                                                        {% if item.uid == app.user.id %}
                                                                            <p class="text-center">Hai recensito questo luogo, se non vedi il tuo commento, potrebbe essere ancora in fase di moderazione.</p>
                                                                        {% else %}
                                                                            {{ include('forms/formReviews.html.twig') }}
                                                                        {% endif %}
                                                                    {% endfor %}

                                                                    <small class="text-center">Accesso effettuato come <span class="text-blue">{{ app.user.username }}</span>, non sei tu? Effettua il <a href="{{ url('logout') }}">Logout</a></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
{#                                            {% if user_info.0.isCompany == 1 %}#}
{#                                                {% if ad_info.0.hasMap == 2 %}#}
{#                                                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGrm47JrTTAp5n5fF7Q2ymGl-iMB69O8g"></script>#}
{#                                                    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>#}
{#                                                    <script src="https://cdn.jsdelivr.net/gmap3/7.2.0/gmap3.min.js"></script>#}
{#                                                    <div class="row">#}
{#                                                        <div class="col-sm-12">#}
{#                                                            <div class="map" style="height:300px"></div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <script>#}
{#                                                        $('.map')#}
{#                                                            .gmap3({#}
{#                                                                center:[{{ ad_info.0.mapCoords }}],#}
{#                                                                zoom:14,#}
{#                                                                streetViewControl: true,#}
{#                                                                mapTypeId: google.maps.MapTypeId.STREETS,#}
{#                                                                mapTypeControl: true,#}
{#                                                                navigationControl: true,#}
{#                                                                scrollwheel: true,#}
{#                                                            })#}
{#                                                            .marker([#}
{#                                                                {position:[{{ ad_info.0.mapCoords }}]},#}
{#                                                                ])#}
{#                                                            ;#}
{#                                                    </script>#}
{#                                                {% endif  %}#}
{#                                            {% endif  %}#}
                                        </div>
                                        <div class="col-sm-2 text-center">
                                            {% include('template/ads.html.twig') %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% if user_info.0.isCompany == 1 %}
                    <div class="row">
                        <!-- Box Business -->
                        <!-- COMING SOON -->
                    </div>
                    {% endif %}
                    {% if similar|length == 1 %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="mb-4 mt-4 font-weight-light">Inserzioni nella categoria {{ ads.convertCategory(ad_info.0.category|capitalize) }}</h4>
                            <br>
                        </div>
                    <div class="row">
                        {% endif %}
                        {% if similar|length == 1 %}
                    </div>
                        {% endif %}
                        <div class="col-sm-12">
                            <div id="similarCarousel">
                                <div class="row autoplay">
                                    {% for similars in similar %}
                                        <div style="width:200px!important; margin: 0 20px">
                                            <div class="card">
                                                {% set category = (ads.slugify(ads.convertCategory(similars.category))) %}
                                                <a href="{{ url('vedi_oggetto', {'category': category, 'item': similars.id, 'title': ads.slugify(similars.name) }) }}">
                                                    <img class="card-img-top img-fluid mr-2" src="https://s3.eu-west-2.amazonaws.com/vedocompro/photo/{{ similars.id }}-1.jpg"></a>
                                                <div class="card-body">
                                                    <h5 class="card-title font-weight-light">
                                                        <a href="{{ url('vedi_oggetto', {'category': category, 'item': similars.id, 'title': ads.slugify(similars.name) }) }}">{{ similars.name }}</a>
                                                        <p><strong>{{ similars.price }}&nbsp;€</strong></p>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% if similar|length <= 6 %}
                                        {% set totals = (5 - similar|length) %}
                                        {% for i in 0..totals %}
                                            <div style="width:250px!important; margin: 0 20px"></div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <script>
                        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                            $('.autoplay').slick({
                                adaptiveHeight: true,
                                focusOnSelect: true,
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                autoplay: true,
                                autoplaySpeed: 2000,
                            });
                            $('#bottomBox').append($('#extraFields'));
                            $('#extraFields').addClass('col-sm-12');
                            $('#bottomBox').append($('#hotelServices'));
                            $('.companyBox').addClass('mt-2').addClass('mb-2');
                            $('.google-ads-container').hide();
                        } else {
                            $('.autoplay').slick({
                                adaptiveHeight: true,
                                focusOnSelect: true,
                                slidesToShow: 6,
                                slidesToScroll: 1,
                                autoplay: true,
                                autoplaySpeed: 2000,
                            });
                        }

                        $(document).ready(function () {
                            $('#similarCarousel').css('max-width',
                                $('.col-sm-12').width()
                            ).css('padding','0 15px');
                        })
                    </script>
            </div>
        </div>
    </div>

    {% if app.user %}
        {% embed 'modals/ad.message.html.twig' %}
        {% endembed %}
    {% else %}
        <div class="modal fade" id="send_message">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Messaggio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>Spiacente, devi essere <a href="{{ url('registrati') }}">registrato</a> per inviare messaggi.</h6>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% embed 'modals/ad.call.html.twig' %}
{% endembed %}
{% embed 'template/footer.html.twig' %}
{% endembed %}

            <style>
    .modal {
        text-align: center;
        padding: 0!important;
    }

    .modal:before {
        content: '';
        display: inline-block;
        height: 35%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    .row.no-gutters {
        margin-right: 0;
        margin-left: 0;

    & > [class^="col-"],
    & > [class*=" col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
     .modal.modal-fullscreen .modal-content {
         background: rgba(0, 0, 0, .5);
     }
    .modal.modal-fullscreen .modal-header {
        border: 0;
        color: #fff;
    }
    .modal.modal-fullscreen .modal-footer {
        border-color: rgba(0, 0, 0, .5);
    }

    .btn-round {
        border-radius:50px;
    }
    .facebook-share-button {
        background-color: #3B5998!important;
        border-color: #FFF;
        color: #FFF;
        padding-left: 14px;
        padding-right: 14px;
    }
    .facebook-share-button:hover {
        opacity: .8;
        top: -4px;
        position: relative;
    }
    .twitter-share-button {
        background-color: #55acee!important;
        border-color: #FFF;
        color: #FFF;
        padding-left: 11px;
        padding-right: 11px;
    }
    .twitter-share-button:hover {
        opacity: .8;
        top: -4px;
        position: relative;
    }
    .pinterest-share-button {
        background-color: #cb2027!important;
        border-color: #FFF;
        color: #FFF;
        padding-left: 11px;
        padding-right: 11px;
    }
    .pinterest-share-button:hover {
        opacity: .8;
        top: -4px;
        position: relative;
    }
    .whatsapp-share-button {
        background-color: #25d366!important;
        border-color: #FFF;
        color: #FFF;
        padding-left: 11px;
        padding-right: 11px;
    }
    .whatsapp-share-button:hover {
        opacity: .8;
        top: -4px;
        position: relative;
    }
    .sharethis-share-button {
        background-color: #95d03a!important;
        border-color: #FFF;
        color: #FFF;
        padding-left: 11px;
        padding-right: 11px;
    }
    .sharethis-share-button:hover {
        opacity: .8;
        top: -4px;
        position: relative;
    }
    .text-blue {
        color: rgb(67,150,193) !important;
    }
    #video {

    }
    .video-mobile {
        width: 122%!important;
        left: 0px!important;
        margin-left: -50px!important;
        margin-top: -21px!important;
    }
    .company-header {
        float: right;
        position: relative;
        top: 15px;
        left: 5px;
        color: #FFF;
        font-weight: 100;
    }
    .star-rating {
        width: 100px;
        margin-top: -3px;
    }
    .user-pic {
        width: 50px;
        height: 50px;
    }
    .rating {
        display: inline-block;
        position: relative;
        height: 20px;
        line-height: 20px;
        font-size: 20px;
    }

    .rating label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;
    }

    .rating label:last-child {
        position: static;
    }

    .rating label:nth-child(1) {
        z-index: 5;
    }

    .rating label:nth-child(2) {
        z-index: 4;
    }

    .rating label:nth-child(3) {
        z-index: 3;
    }

    .rating label:nth-child(4) {
        z-index: 2;
    }

    .rating label:nth-child(5) {
        z-index: 1;
    }

    .rating label input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .rating label .icon {
        float: left;
        color: transparent;
    }

    .rating label:last-child .icon {
        color: #BBB;
    }

    .rating:not(:hover) label input:checked ~ .icon,
    .rating:hover label:hover input ~ .icon {
        color: #09f;
    }

    .rating label input:focus:not(:checked) ~ .icon:last-child {
        color: #BBB;
        text-shadow: 0 0 5px #09f;
    }
    .ratingLbl {
        line-height:20px;
        vertical-align: text-bottom;
        position: relative;
        top: -4px;
        margin-right: 10px;
    }
    .wh-widget-send-button-get-button {
        display: none;
    }
    .card:hover {
        transform:none!important;
    }
</style>
    <script type="text/JavaScript">
        {#var playerInstance = jwplayer("video");#}
        {#playerInstance.setup({#}
        {#    file: "{{ video.filename }}",#}
        {#    type: "mp4",#}
        {#});#}
        {#setTimeout(function() {#}
        {#    jwplayer().pause();#}
        {#    jwplayer().setMute(true);#}
        {#    jwplayer().setControls(true);#}
        {#},3000);#}

        {#jwplayer().onTime(function(object) {#}
        {#    if (object.position > object.duration - 1) {#}
        {#        jwplayer().pause();#}
        {#    }#}
        {#});#}
        videojs('video');
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            $('#video').addClass('video-mobile');
        }
        $('#wh-widget-send-button').hover(function() {
            $('.wh-widget-send-button-get-button').css('display','none');
        })
    </script>
{% endblock %}
