<li class="nav-item">
    <div class="btn-group">
        <a class="float-right dropdown-toggle head-txt-bold" id="notification-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Notifiche
            <span class="badge badge-pill badge-success head-badge">{{ count }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            {% if notifications > 0 %}
                {% for notification in notifications %}
                    {% if notifications.0.readed == 0 %}
                        <strong>
                            <a class="dropdown-item notification-item" href="#"><i class="{{ tools.convertNotify(notification.type,'icon') }}" aria-hidden="true"></i>&nbsp;{{ tools.convertNotify(notification.type,'text') }}</a>
                        </strong>
                    {% else %}
                        <a class="dropdown-item notification-item" href="#"><i class="{{ tools.convertNotify(notification.type,'icon') }}" aria-hidden="true"></i>&nbsp;{{ tools.convertNotify(notification.type,'text') }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <span class="dropdown-item notification-item">Nessuna nuova notifica</span>
            {% endif %}
            <!--
            <a class="dropdown-item notification-item" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Hai un nuovo messaggio</a>
            <a class="dropdown-item notification-item" href="#"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;Il tuo annuncio Oro sta scadendo</a>-->
        </div>
    </div>
</li>