{% extends ':business/dashboard/template:base.html.twig' %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                    <em class="fa fa-home"></em>
                </a></li>
            <li class="active">Statistiche</li>
            <li>Tutti gli Annunci</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Statistiche <small>Tutti gli Annunci</small></h1>
        </div>
    </div><!--/.row-->
    <div class="panel">
        <div class="panel-body">
            <div class="canvas-wrapper">
                <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Visualizzazioni</th>
                    </tr>
                </thead>
                <tbody>
                {% dump(ads) %}
                    {% for item in ads %}
                        <tr>
                            <td scope="row" class="align-middle">{{ item.name }}</td>
                            <td class="align-middle">{{ fun.convertCategory(item.category) }}</td>
                            <td class="align-middle">{{ item.views }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
<script>
    var months = [ "Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre" ];



    var lineChartData = {
        labels : [
            {% for entry in stats %}
                months[{{ entry.sMonth }}],
            {% endfor %}
        ],
        datasets : [
            {
                label: "Tutti gli annunci",
                fillColor : "rgba(48, 164, 255, 0.2)",
                strokeColor : "rgba(48, 164, 255, 1)",
                pointColor : "rgba(48, 164, 255, 1)",
                pointStrokeColor : "#fff",
                pointHighlightFill : "#fff",
                pointHighlightStroke : "rgba(48, 164, 255, 1)",
                data : [
                    {% for entry in stats %}
                    "{{ entry.1 }}",
                    {% endfor %}
                ]
            }
        ]
    };

    window.onload = function () {
        var chart1 = document.getElementById("line-chart").getContext("2d");
        window.myLine = new Chart(chart1).Line(lineChartData, {
            responsive: true,
            scaleLineColor: "rgba(0,0,0,.2)",
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleFontColor: "#c5c7cc"
        });
    };
</script>
{% endblock %}