{% extends 'base.html.twig' %}
{% block body %}
    {% include 'template/header.html.twig' %}
    <div class="wrapper">
        <div class="container-fluid scrollbar"">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form class="form-signin"  method="post">
                    <h2 class="form-signin-heading">Ripristino Password</h2>
                    <small>Inserisci la nuova password per ripristinare il tuo accesso</small>
                    <br><br>
                    {% if error %}
                        <div class="alert alert-danger">C'è stato un'errore nell'elaborazione della richiesta. Controlla l'esattezza dei dati inseriti.</div>
                    {% endif %}
                    {{ form_start(form) }}
                    {{ form_label(form.plainPassword) }}
                    {{ form_widget(form.plainPassword) }}
                    {{ form_label(form.rePassword) }}
                    {{ form_widget(form.rePassword) }}
                    <div class="g-recaptcha" data-sitekey="6Ldp8i4UAAAAAJLdCJR_zqUA9uUug_6P03qb6W-6"></div>
                    <br>
                    {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                    <br>

                </form>
                <br><br><br><br>
            </div>
        </div>
    </div>
    </div>

{% endblock %}