
{{ form_start(form, {'attr':{'class': 'form-inline', 'id': 'search-bar', novalidate: 'novalidate' }})  }}
<div class="col-lg-2">
    <h4 class="text-right">{% trans %} What are you looking for? {% endtrans %}</h4>
</div>
<div class="col-lg-4">
    {{ form_widget(form.name) }}
</div>
<div class="col-lg-2">
    {{ form_widget(form.category) }}
</div>
<div class="col-lg-2">
    {{ form_widget(form.region) }}
</div>
<div class="col-lg-2">
    {{ form_widget(form.submit) }}
    <a href="{{ url('search') }}" id="btn-allAds" style="margin-top: 0px" class="btn btn-success btn-block btn-lg ">Tutti gli Annunci</a>
</div>
{{ form_end(form) }}
<script>
    $(document).ready(function () {
        //$('#form_submit').addClass('hidden-xs-up');

        var $form = $('form'),
            origForm = $form.serialize();

        $form.on('keyup change', 'input, select, textarea', function(){
            if ($form.serialize() !== origForm) {
                $('#btn-allAds').hide();
                $('#form_submit').removeClass('hidden-xs-up');
            } else {
                $('#btn-allAds').show();
                $('#form_submit').addClass('hidden-xs-up');
            }
        });
    })

</script>