<footer class="footer-bg mt-5" style="border-top: 3px solid rgb(67,150,193)">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <img src="{{ asset('img/home/logo-vedocompro.png') }}" class="img-fluid mb-5"/>
        </div>
    </div>
    <div class="row" id="desktopCategory">
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item list-nulled list-title">
                    MOTORI
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=2&regione=Tutta%20Italia">Auto</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=3&regione=Tutta%20Italia">Accessori Auto</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=4&regione=Tutta%20Italia">Moto e Scooter</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=5&regione=Tutta%20Italia">Accessori Moto</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=6&regione=Tutta%20Italia">Nautica</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=7&regione=Tutta%20Italia">Caravan e Camper</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=8&regione=Tutta%20Italia">Veicoli Commerciali</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item list-nulled list-title">
                    IMMOBILI
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=10&regione=Tutta%20Italia">Appartamenti</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=11&regione=Tutta%20Italia">Camere/Posti letto</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=12&regione=Tutta%20Italia">Ville singole e a Schiera</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=13&regione=Tutta%20Italia">Terreni e rustici</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=14&regione=Tutta%20Italia">Garage e Box</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=15&regione=Tutta%20Italia">Loft e mansarde</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=16&regione=Tutta%20Italia">Case vacanza</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=17&regione=Tutta%20Italia">Uffici e locali</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item list-nulled list-title">
                    LAVORO E SERVIZI
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=19&regione=Tutta%20Italia">Offerte di lavoro</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=20&regione=Tutta%20Italia">Servizi</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=21&regione=Tutta%20Italia">Candidati</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=22&regione=Tutta%20Italia">Attrezzatura</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item list-nulled list-title">
                    TECNOLOGIA
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=24&regione=Tutta%20Italia">Computer</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=25&regione=Tutta%20Italia">Consolle e Videogames</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=26&regione=Tutta%20Italia">Audio/Video</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=27&regione=Tutta%20Italia">Fotografia</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=47&regione=Tutta%20Italia">Smartphone</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=48&regione=Tutta%20Italia">Tablet</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item list-nulled list-title">
                    PER LA CASA E LA PERSONA
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=29&regione=Tutta%20Italia">Arredo e Casalinghi</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=30&regione=Tutta%20Italia">Elettrodomestici</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=31&regione=Tutta%20Italia">Giardinaggio</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=33&regione=Tutta%20Italia">Abbigliamento</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=35&regione=Tutta%20Italia">Bambini</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item list-nulled list-title">
                    SPORT E HOBBY
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=39&regione=Tutta%20Italia">Animali</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=40&regione=Tutta%20Italia">Musica e Film</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=41&regione=Tutta%20Italia">Libri e Riviste</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=42&regione=Tutta%20Italia">Strumenti Musicali</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=43&regione=Tutta%20Italia">Sport</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=44&regione=Tutta%20Italia">Biciclette</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=44&regione=Tutta%20Italia">Collezionismo</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" id="mobileCategory">
        <div class="col-sm-12">
            <div id="exampleAccordion" data-children=".item">
              <div class="item">
                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" role="button" aria-expanded="true" aria-controls="exampleAccordion1">
                     <li class="list-group-item list-nulled list-title">
                        MOTORI
                    </li>
                </a>
                <div id="exampleAccordion1" class="collapse show" role="tabpanel">
                  <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=2&regione=Tutta%20Italia">Auto</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=3&regione=Tutta%20Italia">Accessori Auto</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=4&regione=Tutta%20Italia">Moto e Scooter</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=5&regione=Tutta%20Italia">Accessori Moto</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=6&regione=Tutta%20Italia">Nautica</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=7&regione=Tutta%20Italia">Caravan e Camper</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=8&regione=Tutta%20Italia">Veicoli Commerciali</a>
                    </li>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" role="button" aria-expanded="false" aria-controls="exampleAccordion2">
                  <li class="list-group-item list-nulled list-title">
                    IMMOBILI
                </li>
                </a>
                <div id="exampleAccordion2" class="collapse" role="tabpanel">
                  <p class="mb-3">
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=10&regione=Tutta%20Italia">Appartamenti</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=11&regione=Tutta%20Italia">Camere/Posti letto</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=12&regione=Tutta%20Italia">Ville singole e a Schiera</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=13&regione=Tutta%20Italia">Terreni e rustici</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=14&regione=Tutta%20Italia">Garage e Box</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=15&regione=Tutta%20Italia">Loft e mansarde</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=16&regione=Tutta%20Italia">Case vacanza</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=17&regione=Tutta%20Italia">Uffici e locali</a>
                    </li>
                  </p>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion3" role="button" aria-expanded="false" aria-controls="exampleAccordion2">
                  <li class="list-group-item list-nulled list-title">
                    LAVORO E SERVIZI
                </li>
                </a>
                <div id="exampleAccordion3" class="collapse" role="tabpanel">
                  <p class="mb-3">
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=19&regione=Tutta%20Italia">Offerte di lavoro</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=20&regione=Tutta%20Italia">Servizi</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=21&regione=Tutta%20Italia">Candidati</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=22&regione=Tutta%20Italia">Attrezzatura</a>
                    </li>
                  </p>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion4" role="button" aria-expanded="false" aria-controls="exampleAccordion2">
                  <li class="list-group-item list-nulled list-title">
                    TECNOLOGIA
                </li>
                </a>
                <div id="exampleAccordion4" class="collapse" role="tabpanel">
                  <p class="mb-3">
                    <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=24&regione=Tutta%20Italia">Computer</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=25&regione=Tutta%20Italia">Consolle e Videogames</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=26&regione=Tutta%20Italia">Audio/Video</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=27&regione=Tutta%20Italia">Fotografia</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=47&regione=Tutta%20Italia">Smartphone</a>
                </li>
                <li class="list-group-item list-nulled">
                    <a href="/cerca?q=&categoria=48&regione=Tutta%20Italia">Tablet</a>
                </li>
                  </p>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion5" role="button" aria-expanded="false" aria-controls="exampleAccordion2">
                  <li class="list-group-item list-nulled list-title">
                    PER LA CASA E LA PERSONA
                </li>
                </a>
                <div id="exampleAccordion5" class="collapse" role="tabpanel">
                  <p class="mb-3">
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=29&regione=Tutta%20Italia">Arredo e Casalinghi</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=30&regione=Tutta%20Italia">Elettrodomestici</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=31&regione=Tutta%20Italia">Giardinaggio</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=33&regione=Tutta%20Italia">Abbigliamento</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=35&regione=Tutta%20Italia">Bambini</a>
                    </li>
                  </p>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion6" role="button" aria-expanded="false" aria-controls="exampleAccordion2">
                  <li class="list-group-item list-nulled list-title">
                    SPORT E HOBBY
                </li>
                </a>
                <div id="exampleAccordion6" class="collapse" role="tabpanel">
                  <p class="mb-3">
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=39&regione=Tutta%20Italia">Animali</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=40&regione=Tutta%20Italia">Musica e Film</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=41&regione=Tutta%20Italia">Libri e Riviste</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=42&regione=Tutta%20Italia">Strumenti Musicali</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=43&regione=Tutta%20Italia">Sport</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=44&regione=Tutta%20Italia">Biciclette</a>
                    </li>
                    <li class="list-group-item list-nulled">
                        <a href="/cerca?q=&categoria=44&regione=Tutta%20Italia">Collezionismo</a>
                    </li>
                  </p>
                </div>
              </div>
            </div>
        </div>
        
    </div>
</footer>
<script>
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            $('#desktopCategory').hide();
            $('#mobileCategory').show()
        } else {
            $('#desktopCategory').show();
            $('#mobileCategory').hide()
        }
</script>    
<div class="row footer-bottom mr-0">
    <div class="col-8 pl-5 mt-5 ml-5 footer-txt">
        Copyright &copy; 2018 - VedoCompro s.r.l.s. Tutti i diritti riservati | <a href="{{ url('terms-of-service') }}">Termini di Servizio</a> | <a href="{{ url('privacy-policy') }}">Privacy Policy</a> {% if is_granted('ROLE_MODERATOR') %}
                | <a href="{{ url('admin') }}">ADMIN</a>
            {% endif %}
    </div>
    <div class="col-3">
        <img src="{{ asset('img/home/logo-vedocompro.png') }}" class="img-fluid mb-5 mt-4"/>
    </div>
</div>
