<nav class="navbar navbar-toggleable-md navbar-light bg-faded header fixed-top">
    <style>
        @media (min-width:1025px) { .nav-search{position:relative!important;} }
        @media (min-width:1281px) { .nav-search{position:relative!important;} }
        .margin-top-0 { margin-top: 0px}
        .margin-top-100 { margin-top: 100px}
        .margin-top-200 { margin-top: 200px}
        .margin-top-300 { margin-top: 300px}
        .margin-top-400 { margin-top: 400px}
    </style>
<div id="nav-icon" class="navbar-toggler navbar-toggler-right"  data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

  <div class="logo-div ml-auto float-left">
      <a class="navbar-brand" href="{{ url('homepage') }}" class="logo">
          <img class="logo-large" style="width:50%" id="logo" src="{{ asset('img/logo-vedocompro-plain.png') }}">
      </a>
  </div>
  <div class="mx-auto" id="search-icon">
      <a id="nav-search-id" href="" class="head-txt-bold nav-search ">
          <i class="fa fa-search" id="head-search-icon" aria-hidden="true"></i>
      </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto float-right">
        {% if app.user %}
            <li class="nav-item">
                <a href="{{  url('nuovo') }}" class="float-right head-txt-bold">Inserisci Annuncio</a>
            </li>
            {{ render(controller('AppBundle:Notifications:Notification')) }}
            <li class="nav-item">
                <a href="{{ url('profilo' , {'query': app.user.username }) }}" class="float-right head-txt-bold">Profilo</a>
            </li>
            <li class="nav-item">
                <a href="{{ logout_path('main') }}" class="head-txt-bold">Esci</a>
            </li>
         {% else %}
             <li class="nav-item">
                 <a href="{{ url('login') }}" class="head-txt-bold">Accedi</a>
             </li>
             <li class="nav-item">
                 <a href="{{ url('registrati') }}" class="head-txt-bold">Registrati </a>
             </li>
         {% endif %}
    </ul>
  </div>
</nav>
<div class="row home-search-box fixed-top" style="display: none;margin-top:88px;z-index:1000">
    {{ render(controller('AppBundle:Search:formTop')) }}
</div>
<style>
    .notification-active {
        right: 0px;
        position: relative;
    }
    .notification-closed {
        right: -55px;
        position: relative;
    }
    .navbar {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navbar-collapsed {
        font-size: 0.6rem!important;
        max-height: 50px!important;
        min-height: 50px!important;
    }
    .navbar-brand-collapsed {
        /*width: 10em!important;*/
    }

    .logo-small { /*width: 30%!important; height: 30%;*/
        margin-top:30px;
        -webkit-transform:scale(0.6);
        -moz-transform:scale(0.6);
        -o-transform:scale(0.6);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s; /*Mozilla duration version*/
        -o-transition-duration: 0.5s; /*Opera duration version*/
        transform: scale(0.6);
        transform-origin: top left;


    }
    .logo-large { /*width: 50%!important; height: 30%;*/
        -webkit-transform:scale(1); /*Webkit: Scale up image to most of the original size*/
        -moz-transform:scale(1); /*Mozilla scale version*/
        -o-transform:scale(1);
        transform-origin: top left;
    }
    .search-icon-mobile {
        position: absolute;
        top: 12px;
        right: 90px;
    }
</style>
<script>
    /**
     * Created by andreaem on 01/10/17.
     */
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $('#search-icon').removeClass("mx-auto").addClass("search-icon-mobile");
        $('.navbar-brand').css('margin-top','10px');
        $("#nav-search-id").click(function(e) {
            e.preventDefault();
            $(".home-search-box").slideToggle(500);
            $(".container-fluid").toggleClass("margin-top-400",500);
        });
        $("#notification-menu").addClass("notification-closed").click(function() {
            var nmenu = $("#notification-menu");
            nmenu.toggleClass("notification-active");
            nmenu.toggleClass("notification-closed");
        });
        $(".home-search-box").hide();
        $("#nav-icon").click(function() {
            $(".container-fluid").toggleClass("margin-top-300",300);
        });
        $('.pace-progress').css('height','50px');

    } else {
        $(".home-search-box").hide();
        $("#nav-search-id").click(function (event) {
            event.preventDefault();
            $(".home-search-box").slideToggle(500);
            $(".container-fluid").toggleClass("margin-top-200", 500);
        });
        $('.pace-progress').css('height','86px');
    };
    function init() {
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {} else {
            window.addEventListener('scroll', function (e) {
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 50,
                    header = document.querySelector("header");
                if (distanceY > shrinkOn) {
                    $('.home-search-box').css('margin-top', '48px');
                    $('.navbar').addClass('navbar-collapsed');
                    $('.navbar-brand').addClass('navbar-brand-collapsed');
                    $('#logo').switchClass('logo-large', 'logo-small', 0)
                } else {
                    $('.home-search-box').css('margin-top', '85px');
                    $('.navbar').removeClass('navbar-collapsed');
                    $('.navbar-brand').removeClass('navbar-brand-collapsed');
                    $('#logo').switchClass('logo-small', 'logo-large', 0)
                }
            });
        }
    }
    window.onload = init();
</script>